<aside>
	<div class="panel radius">
		<h3>Welcome to the Dornburg Lab Blog pages!</h3>
		<p>
			
			<br>
			<br> Our lab is charged with maintaining an active and growing natural history collection, engaging in cutting-edge dynamic research, and is committed to understanding patterns of aquatic biodiversity from the Carolinas to the world. 
			<br>
			<br> Given this broad scope, we have several active blog areas to highlight the latest news from our team as well as discoveries from our collaborators and things we find fascinating. 
			<br>
			<br>Check out the latest posts or explore the archives!
		</p>
	</div>

  <img class="b30" src="https://carolinafishes.github.io/images/coral.jpg" alt="">



</aside>